.header {
  padding: 20px;

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  input {
    height: 30px;
    width: 400px;
  }

  button {
    height: 50px;
    width: 120px;
  }
  button:hover {
    background-color: rgb(80, 80, 80);
    border-color: antiquewhite;
  }
}
